.service{
  &__title{
    font-family: $title-font;
    color: $mid-green;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 5px;
    animation: 0.3s dropdown ease-in;
  }
  &__list{
    font-family: $main-font;
    color: $dark-grey;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    padding: 5px;
    animation: 0.3s dropdown ease-in;
  }
  @keyframes dropdown {
    0% { transform: translateY(-10px);
            opacity: 0; }
    75% { transform: translateY(-5px);
          opacity: 30;  }
    100%   { transform: translateY(0px); 
            opacity:100}
  }
}