@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&family=Ubuntu&display=swap');
@import "./variables";
@import "./components/Accordion.scss";
@import "./components/Category.scss";
@import "./components/Services.scss";

*,*::before,*::after,body{
  margin:0;
  padding:0;
  list-style: none;
  text-decoration: none;
}
.app__container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
}
.loader{
  border: 16px solid $light-green; 
  border-top: 16px solid $dark-green; 
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


